.leetcode {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.unattempted {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    color: #374151;
}

.in-progress {
    background-color: #fef9c3;
    border: 1px solid #eab308;
    color: #854d0e;
}

.solved {
    background-color: #dcfce7;
    border: 1px solid #22c55e;
    color: #166534;
}